In [0]:
import pandas as pd
import matplotlib.pyplot as plt

Part 2: **For Cereal Data Set**

In [0]:
df_cereal = pd.read_csv('cereal.csv',delimiter=',')

In [27]:
df_cereal.head()

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

In [28]:
df_cereal.describe()

         calories    protein        fat  ...     weight       cups     rating
count   77.000000  77.000000  77.000000  ...  77.000000  77.000000  77.000000
mean   106.883117   2.545455   1.012987  ...   1.029610   0.821039  42.665705
std     19.484119   1.094790   1.006473  ...   0.150477   0.232716  14.047289
min     50.000000   1.000000   0.000000  ...   0.500000   0.250000  18.042851
25%    100.000000   2.000000   0.000000  ...   1.000000   0.670000  33.174094
50%    110.000000   3.000000   1.000000  ...   1.000000   0.750000  40.400208
75%    110.000000   3.000000   2.000000  ...   1.000000   1.000000  50.828392
max    160.000000   6.000000   5.000000  ...   1.500000   1.500000  93.704912

[8 rows x 13 columns]

In [29]:
df_cereal.shape

(77, 16)

In [30]:
df_cereal.size

1232

In [31]:
df_cereal.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [10]:
df_cereal.dtypes

name         object
mfr          object
type         object
calories      int64
protein       int64
fat           int64
sodium        int64
fiber       float64
carbo       float64
sugars        int64
potass        int64
vitamins      int64
shelf         int64
weight      float64
cups        float64
rating      float64
dtype: object

In [0]:
X_features = df_cereal[['calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups']]

In [12]:
X_features.shape

(77, 12)

In [0]:
Y_features = df_cereal[['rating']]

In [14]:
Y_features.shape

(77, 1)

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_features,Y_features,random_state=1)

In [0]:
from sklearn.linear_model import LinearRegression

In [17]:
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
print(linreg.intercept_)
print(linreg.coef_)

[54.92718424]
[[-2.22724164e-01  3.27317385e+00 -1.69140803e+00 -5.44927025e-02
   3.44347975e+00  1.09245093e+00 -7.24895160e-01 -3.39933505e-02
  -5.12119681e-02 -7.46423505e-08  3.08867732e-07  1.10386639e-07]]

In [19]:
y_predict = linreg.predict(x_test)
y_predict

array([[23.80404307],
       [54.85091735],
       [58.3451415 ],
       [49.78744513],
       [39.2591974 ],
       [39.70339969],
       [41.99893311],
       [30.4508435 ],
       [31.07221737],
       [50.82839235],
       [18.04285079],
       [41.50354004],
       [45.81171587],
       [59.42550468],
       [46.65884431],
       [40.91704687],
       [30.31335109],
       [41.44501952],
       [34.13976432],
       [40.44877233]])

In [0]:
from sklearn import metrics

In [89]:
import numpy as np
print(np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

3.3841194417446886e-07